@font-face {
  font-family: iconfonts;
  font-display: swap;
  src: url("../fonts/iconfonts.woff2") format("woff2"), url("../fonts/iconfonts.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}