// ! Стили рейтинга подключается scss/base/forms/forms.scss -> раскометрировать (сам файл с настройками стилей в той же папке)
// ! Функционал рейтинга подключается  js/app.js -> раскоментировать
// ! .rating {}
.products-slider {
	// .products-slider__container
	&__container {
	}
	// .products-slider__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 50, 30);
		}
	}
	// .products-slider__title
	&__title {
		letter-spacing: 0.05em;
		font-size: rem(30);
		font-weight: 700;
		line-height: math.div(46, 30);
	}
	// .products-slider__more
	&__more {
		color: rgba(20, 20, 20, 0.5);
		transition: all 0.3s ease 0s;
		font-weight: 600;
		font-size: rem(18);
		display: inline-flex; //!!! Без этого иконка не развернется
		align-items: center;
		gap: em(15, 18); // привязался к шрифту 18
		&::after {
			@extend %ic; // ! Подключать иконку можно ти нак (не прописывать в HTML)
			content: '\e900'; // ! Продолжение
			font-size: em(7, 18);
			transform: rotate(-90deg); //! display: inline-flex без этого не разворачивается
			color: #e8aa31;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba(20, 20, 20, 1);
			}
		}
	}
	// .products-slider__slider
	&__slider {
		padding: rem(15) rem(20); // сдвинул что бы тень не зарезалась
		margin: 0px rem(-20); //тоже
	}
	// .products-slider__swiper
	&__swiper {
		&:not(:last-child){
			margin-bottom: rem(50); // отодвигаю булеты ниже
		}

	}
	// .products-slider__slide
	&__slide {
	}
	// .products-slider__dotts
	&__dotts {
		//* добавления изменения удаление(и, д, у)
		display: grid;//* (и)
		grid-auto-flow: column;
		// gap: rem(15); //* (у) плохо работает с dynamicBullets:true (нужно использовать margin !ниже )
		transform: translate(0px,10%);
		justify-content: center;//* (д)
		margin: 0 auto;//* (д) после включения 	dynamicBullets:true в sliders.js (фиксит динамические булеты)
		overflow: hidden;
		//! класс скопировал с отладчика Chrome, эти классы добавляются slider'ом автоматически (сколько слайдов столько и .swiper-pagination-bullet (вроде как они создаются в span))
		.swiper-pagination-bullet {
			//когда булет неактивный
			margin: 0px rem(7.5);//* (д) тут
			cursor: pointer;
			height: rem(30);
			width: rem(18);
			position: relative;
			transition: all 0.3s ease 0s;
			//! Прописал в after для того что бы увеличить область клика (удобнее для мобильных устройств)
			&::after {
				content: '';
				height: rem(2);
				width: 100%;
				top: 50%; //центрирую
				transform: translate(0px, -50%); //опускаю на 50% от ширины (так будет точно по центру)
				position: absolute;
				background-color: #898989;//* и
			}
			&::before {
				//! рисую круг на булетах
				content: '';
				background-color: #e8aa31;
				width: rem(10);
				height: rem(10);
				top: 50%;
				left: 0; //!для анимации с лево на право ("1) - какие завязаны
				border-radius: 50%; //центрирую
				transform: translate(0px, -50%); //опускаю на 50% от ширины (так будет точно по центру)
				position: absolute;
				opacity: 0; //!скрываю круг opacity 1 в -> active -> before
			}
		}
		.swiper-pagination-bullet-active {
			//когда булет активный
			width: rem(36); //! активный в 2 раза длинней (в видео удалил)
			&::after {
				//! Прописал цвет в after потому что увеличивал область клика (смотри выше)
				background-color: #e8aa31;
			}
			&::before {
				opacity: 1; //!тут
				transition: left 4s linear 0s; //!("2) //!!анимация работает только с left (linear - линейная анимация) (в видео 3s)
				left: rem(26); //!("3) (в видео 8)
			}
			// !
		}
	}
}
.product-card {
	display: grid;
	height: 100%; // * что бы при многострочном title во всех карточках текст был на 1м уровне даже если в другой карточки текст title будет однострочный -> продолжение 1
	grid-template-rows: auto 1fr;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
		}
	}
	// .product-card__image-ibg
	&__image-ibg {
	}
	// .product-card__image
	&__image {
		// * Для того что бы картинку не растягивало (вписывало в рамки контейнера) 1.1
		@include adaptiveValue('padding-top', 25, 15);
		@include adaptiveValue('padding-bottom', 25, 15);
		@include adaptiveValue('padding-left', 50, 15);
		@include adaptiveValue('padding-right', 50, 15);
	}
	// .product-card__item-image-ibg
	&__item-image-ibg {
		//! основной стиль -> в _base.scss ibg
		// border: 1px solid rgba(20, 20, 20, 0.3);
		display: block; // * 1.2
		padding-bottom: percent(240, 270); // * percent(размеры картинки (в данном случае с начала пишу высоту -> ширину)) 1.3
	}
	// .product-card__body
	&__body {
		padding: rem(20);
		display: flex; // * 2
		flex-direction: column; //* 3
	}
	// .product-card__title
	&__title {
		flex: 1 1 auto; // * 4
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(34, 20);
		&:not(:last-child) {
			margin-bottom: em(10, 20); //! получится 10px
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .product-card__link-title
	&__link-title {
	}
	// .product-card__info
	&__info {
		&:not(:last-child) {
			margin-bottom: em(15, 16);
		}
	}
	// .product-card__rating
	&__rating {
		justify-content: space-between;
		&:not(:last-child) {
			// margin-bottom: em(26,16); //! 26 отступ, 16 р-р шрифта
			margin-bottom: rem(26);
		}
	}
	// .product-card__footer
	&__footer {
		border-top: 1px solid rgba(20, 20, 20, 0.3); //! на видео (0.5)
		padding: rem(20) 0px;
		display: flex; //! тут
		align-items: center;
		gap: rem(15);
	}
	// .product-card__price
	&__price {
		flex: 1 1 auto; //! отодвинет в право __compare и __favorite в footer прописал display flex
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(34, 20);
	}
	// .product-card__compare
	//! можно объединить так как много общих стилей &__compare, &__favorite {...}
	&__compare {
		font-size: rem(24);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #e8aa31;
			}
		}
	}
	// .product-card__favorite
	&__favorite {
		font-size: rem(24);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #e8aa31;
			}
		}
	}
	// .product-card__cart
	&__cart {
		// font-size: rem(24);
		width: 100%;
		span {
			display: flex;
			flex-direction: row-reverse; //! перемещает корзину на 2ю позицию - текст на 1ю
			align-items: center;
			justify-content: center;
			&::before {
				margin: 0px 0px 0px rem(16);
			}
		}
	}
}
.info-product-card {
	color: #ababab;
	display: flex;
	justify-content: space-between;
	gap: rem(10);
	font-size: rem(16);
	// .info-product-card__size
	&__size {
	}
	// .info-product-card__materials
	&__materials {
		text-align: right; // привязываю материалы к правому краю(для надёжности)
	}
}
